html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.f_centerC_ao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.f_centerR_ao {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f_center,
.f_centerR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.f_centerC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f_around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.f_aroundC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.f_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.f_betweenC {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}